name: cron
on:
  schedule:
    - cron: '0 1 * * MON-FRI'
  workflow_dispatch:

jobs:
  cron:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.7'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm node node_modules/puppeteer/install.mjs
      - name: Run cron job
        run: pnpm start
        env:
          username: ${{ secrets.PORTAL_USERNAME }}
          password: ${{ secrets.PORTAL_PASSWORD }}
          START_YYYYMMDD: ${{ vars.START_YYYYMMDD }}
          END_YYYYMMDD: ${{ vars.END_YYYYMMDD }}
          GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
          GOOGLE_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_ID }}
          SYNC_INTERVAL_HOURS: 0
